.eachBook {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 6%;
  position: relative;
  top: -34vh;
}

.eachBookBlur {
  display: flex;
  position: relative;
  justify-content: center;
  border-radius: 2vw;
  height: 30vh;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 4%;
  margin-right: 4%;
  filter: blur(15px);
}

* {
  font-family: WorkSans;
  color: navy;
}

.detailButtons {
  display: flex;
  flex-direction: row;
}

.publisher {
  border: 0.5px solid navy;
}

.pubDate {
  border: 0.5px solid navy;
}

.pubUrl {
  border: 0.5px solid navy;
}

img {
  border: .5px solid transparent;
  border-radius: 5%;
}

.bookTitle {
  font-family: YoungSerif;
  font-weight: 900;
}

.allDesc {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.shortDesc {
  display: flex;
  flex-direction: column;
}

.longDesc {
  display: flex;
  flex-direction: column;
}

.bookImageContainer {
  width: 20vw;
}

.bookImage {
  width: 80%;
  padding: 3%;
}

.App {
  text-align: center;
}