.eachBook {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.eachBookBlur {
  display: flex;
  position: relative;
  justify-content: center;
  border: 3px solid black;
  border-radius: 2vw;
  height: 30%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 4%;
  margin-right: 4%;
}

* {
  font-family: WorkSans;
}

img {
  border: .5px solid transparent;
  border-radius: 5%;
}

.bookTitle {
  font-family: YoungSerif;
}

.allDesc {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.shortDesc {
  display: flex;
  flex-direction: column;
}

.longDesc {
  display: flex;
  flex-direction: column;
}

.bookImageContainer {
  width: 20vw;
}

.bookImage {
  width: 80%;
  padding: 3%;
}

.App {
  text-align: center;
}